#container{
    margin-left: 200px;
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  justify-content: center;
  align-items: center;
}
#container>div{
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 text-align: center;
 width:300px;
}
#container>div>img{
    width:250px;
     /* height:200px; */
    max-width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:30px;
    border-radius: 10px;
  
}

#container>div>div{
  display: flex;
  justify-content: space-evenly;
}

#container>div>div>p:nth-child(1){
  padding:8px 10px;
  border:1px solid rgb(206, 199, 199);
  border-radius: 8px;
}
#container>div>div>p:nth-child(2){
  padding:8px 25px;
  border:1px solid rgb(206, 199, 199);
  border-radius: 8px;
  background-color: #92BE4D;
  color:white;
}


